<script src="js/cart.js"></script>
<div>
  <h1>Bienvenido, {{user.name}} {{user.role}}</h1>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  <a href="/api/sessions/logout"><button>Salir</button></a>
</div>

<div id="container">
  {{#each products}}
    <ul>
      <li>title: {{this.title}}</li>
      <li>description: {{this.description}}</li>
      <li>code: {{this.code}}</li>
      <li>price: {{this.price}}</li>
      <li>status: {{this.status}}</li>
      <li>stock: {{this.stock}}</li>
      <li>category: {{this.category}}</li>
      <li>id: {{this.id}}</li>
      <li>
        <button
          class="addButton"
          data-title="{{this.title}}"
          data-price="{{this.price}}"
          onclick="addToCart(this)"
        >Agregar al carrito</button>
      </li>
    </ul>
  {{/each}}
</div>

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Anterior</button></a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Siguiente</button></a>
  {{/if}}
</div>