<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

<div>
  {{#if user}}
    <h1>{{user.first_name}}</h1>
    <p>Rol: {{user.role}}</p>
  {{/if}}
</div>

<div id="container">
  {{#each products}}
    <!-- Mostrar información de productos existentes -->
    <ul>
      <li>title: {{this.title}}</li>
      <li>description: {{this.description}}</li>
      <li>code: {{this.code}}</li>
      <li>price: {{this.price}}</li>
      <li>status: {{this.status}}</li>
      <li>stock: {{this.stock}}</li>
      <li>category: {{this.category}}</li>
      <li>id: {{this.id}}</li>
      <li>owner: {{this.owner}}</li>
    </ul>
  {{/each}}

  <!-- Formulario para crear un nuevo producto -->
  <div>
    <h2>Crear Nuevo Producto</h2>
    <form id="formCreateProduct">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required />
      <label for="description">Descripción:</label>
      <textarea id="description" name="description"></textarea>
      <label for="code">Código:</label>
      <input type="text" id="code" name="code" />
      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" required />
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" />
      <label for="category">Categoría:</label>
      <input type="text" id="category" name="category" required />
      <label for="owner">Propietario:</label>
      <input
        type="text"
        id="owner"
        name="owner"
        value="{{user.email}}"
        readonly
      />
      <button type="submit">Crear Producto</button>
    </form>
  </div>

  <!-- Formulario para eliminar un producto -->
  {{#if canDeleteProduct}}
    <div>
      <h1>Eliminar Producto</h1>
      <form id="formDelete">
        <label id="id_to_delete"> ID a eliminar</label>
        <input name="id" />
        <input type="submit" />
      </form>
    </div>
  {{/if}}
</div>